<div style="display: flex">
    <allele-info-hgmd allele-path="$ctrl.allelesPath + '.' + allele.id"></allele-info-hgmd>
    <allele-info-clinvar allele-path="$ctrl.allelesPath + '.' + allele.id"></allele-info-clinvar>
</div>
