<div class="sectionbox">
    <div style="display: flex; flex-wrap: wrap; max-width: 80rem !important;">
        <allele-info-frequency-gnomad-exomes allele-path="$ctrl.allelesPath + '.' + allele.id"></allele-info-frequency-gnomad-exomes>
        <allele-info-frequency-gnomad-genomes allele-path="$ctrl.allelesPath + '.' + allele.id"></allele-info-frequency-gnomad-genomes>
        <allele-info-frequency-exac allele-path="$ctrl.allelesPath + '.' + allele.id"></allele-info-frequency-exac>
        <allele-info-frequency-indb allele-path="$ctrl.allelesPath + '.' + allele.id"></allele-info-frequency-indb>
    </div>
</div>
