<h3>Links: <a-clip title="See gene info on OMIM" href="{{ $ctrl.getGenepanelValues(t.symbol).omim_entry_id | omimLink: t.symbol }}">OMIM</a-clip>, <a-clip  title="See gene info on HGMD Pro" href="{{ t.symbol | hgmdLink }}">HGMD</a-clip></h3>
<h3 class="id_inheritance">Inheritance: <gpv source="$ctrl.getGenepanelValues(t.symbol)" display="inheritance" mode="_"></gpv></h3>
<h3>Phenotypes</h3>
<ul class="popover-list indented">
    <li ng-repeat="ph in $ctrl.getGenepanelValues(t.symbol)['phenotypes']">{{ph.description}} ({{ph.inheritance}})</li>
</ul>
<h3>Frequency cutoff: </h3>
<ul class="popover-list indented">
  <li>External: <gpv source="$ctrl.getGenepanelValues(t.symbol)" display="freq_cutoffs_external" mode="!"></gpv></li>
  <li>Internal: <gpv source="$ctrl.getGenepanelValues(t.symbol)" display="freq_cutoffs_internal" mode="!"></gpv></li>
</ul>
<h3>Disease mode: <gpv source="$ctrl.getGenepanelValues(t.symbol)" display="disease_mode" mode="!"></gpv></h3>
<h3>Last exon: <gpv source="$ctrl.getGenepanelValues(t.symbol)" display="last_exon_important" mode="!"></gpv></h3>
<h3>Gene information:</h3>
<gpv class="popover-list indented" source="$ctrl.getGenepanelValues(t.symbol)" display="comment" mode="!"></gpv>
