<div class="allele-sidebar-list">

  <h4 class="section-title" ng-if="$ctrl.sectionTitle">{{$ctrl.sectionTitle}} ({{$ctrl.alleles.length}})</h4>
    <section class="allele-sidebar-list">
      <div class="nav-table">
        <div class="nav-row top" ng-if="$ctrl.alleles.length">
          <div ng-if="!$ctrl.isTogglable()" class="cell"></div> <!-- Header for selected colorbox -->
          <div class="cell" title="Sample type" ng-if="$ctrl.isMultipleSampleType" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'type'})">
            T
            <span ng-if="$ctrl.orderBy.key === 'type'">
              <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
              <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
            </span>
          </div>
          <div class="cell" title="Inheritance" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'inheritance'})">
            <span ng-class="{'clickable': $ctrl.orderByPath}">INH</span>
            <span ng-if="$ctrl.orderBy.key === 'inheritance'">
              <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
              <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
            </span>
          </div>
          <div class="cell" title="Gene" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'gene'})">
              <span ng-class="{'clickable': $ctrl.orderByPath}">GENE</span>
            <span ng-if="$ctrl.orderBy.key === 'gene'">
              <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
              <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
            </span>
          </div>
          <div class="cell" title="HGVSc" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'hgvsc'})">
              <span ng-class="{'clickable': $ctrl.orderByPath}">HGVSc</span>
            <span ng-if="$ctrl.orderBy.key === 'hgvsc'">
              <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
              <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
            </span>
          </div>
          <div class="cell" title="Consequence" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'consequence'})">
              <span ng-class="{'clickable': $ctrl.orderByPath}">CSQ</span>
            <span ng-if="$ctrl.orderBy.key === 'consequence'">
              <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
              <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
            </span>
          </div>
          <div class="cell indicators">
            <div title="Warnings" class="top">
                <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'warning'})">
                  <span ng-class="{'clickable': $ctrl.orderByPath}">!</span>
                  <span ng-if="$ctrl.orderBy.key === 'warning'">
                    <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                    <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                  </span>
                </div>
              </div>
            <div title="Filtered variants" class="top"  ng-if="$ctrl.showManuallyAddedIndicator()">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'manuallyAdded'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">F</span>
                <span ng-if="$ctrl.orderBy.key === 'manuallyAdded'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
            </div>
            <div title="Segregation type" class="top">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'segregation'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">S</span>
                <span ng-if="$ctrl.orderBy.key === 'segregation'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
            </div>
            <div title="Homozygous" class="top">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'homozygous'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">O</span>
                <span ng-if="$ctrl.orderBy.key === 'homozygous'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
            </div>
            <div title="Quality issues" class="top">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'quality'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">Q</span>
                <span ng-if="$ctrl.orderBy.key === 'quality'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
            </div>
            <div title="Reference(s) available" class="top">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'references'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">R</span>
                <span ng-if="$ctrl.orderBy.key === 'references'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
            </div>
          </div>
          <div ng-if="$ctrl.showColumn('qual')" class="cell qual" title="Quality">
            <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'qual'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">QUAL</span>
                <span ng-if="$ctrl.orderBy.key === 'qual'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
          </div>
          <div ng-if="$ctrl.showColumn('dp')" class="cell dp" title="Read depth">
            <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'readDepth'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">DP</span>
                <span ng-if="$ctrl.orderBy.key === 'readDepth'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
          </div>
          <div ng-if="$ctrl.showColumn('ratio')" class="cell ratio" title="Allele ratio">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'ratio'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">RATIO</span>
                <span ng-if="$ctrl.orderBy.key === 'ratio'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
          </div>
          <div ng-if="$ctrl.showColumn('hi-freq')" class="cell hi-freq" title="Highest frequency">
            <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'freq'})">
              <span ng-class="{'clickable': $ctrl.orderByPath}">HI. FREQ</span>
              <span ng-if="$ctrl.orderBy.key === 'freq'">
                <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
              </span>
            </div>
          </div>
          <div ng-if="$ctrl.showColumn('hi-count')" class="cell hi-count" title="Highest allele count">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'count'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">HI. COUNT</span>
                <span ng-if="$ctrl.orderBy.key === 'count'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
          </div>
          <div ng-if="$ctrl.showColumn('external')" class="cell external" title="External databases">
              <div class="hit" ng-click="$ctrl.orderByChanged({orderByPath: $ctrl.orderByPath, key: 'external'})">
                <span ng-class="{'clickable': $ctrl.orderByPath}">EXTERNAL</span>
                <span ng-if="$ctrl.orderBy.key === 'external'">
                  <span ng-if="$ctrl.orderBy.reverse">&#8593;</span>
                  <span ng-if="!$ctrl.orderBy.reverse">&#8595;</span>
                </span>
              </div>
          </div>
          <div class="cell classification">CLASS</div>
          <div class="cell quick-classification" ng-if="$ctrl.classificationOptions.length" title="Classification"></div>
          <div class="cell evaluation" ng-if="$ctrl.showComment()" ng-class="{'narrow': $ctrl.showNarrowComment()}" title="{{$ctrl.getCommentTitle()}}">{{$ctrl.getCommentTitle()}}</div>
          <div ng-if="$ctrl.isTogglable()" class="cell"></div>
        </div>
        <div class="nav-row allele" ng-repeat="allele in $ctrl.alleles track by allele.id"
              ng-class="{'active': $ctrl.selectedAllele.id == allele.id || $ctrl.isToggled(allele.id), 'toggled': $ctrl.isToggled(allele.id), 'togglable': $ctrl.isTogglable(), 'multiple': $ctrl.shadeGene(allele), 'technical': $ctrl.isTechnical(allele.id)}">
          <div ng-if="!$ctrl.isTogglable()" class="cell tab"></div>
          <div title="{{$ctrl.getSampleTypesFull(allele)}}" ng-if="$ctrl.isMultipleSampleType" class="cell sample-type id-sample-type">
            {{$ctrl.getSampleType(allele)}}
          </div>
          <div ng-click="$ctrl.rowClicked({alleleId: allele.id})" class="cell inheritance id-inheritance" title="{{allele.formatted.inheritance}}">
              {{allele.formatted.inheritance}}
          </div>
          <div ng-click="$ctrl.rowClicked({alleleId: allele.id})" class="cell gene id-gene" title="{{$ctrl.getGene(allele)}}">
              {{$ctrl.getGene(allele)}}
          </div>
          <div ng-click="$ctrl.rowClicked({alleleId: allele.id})" class="cell hgvsc id-hgvsc" title="{{$ctrl.getHGVScTitle(allele)}}">
              {{$ctrl.getHGVSc(allele)}}
          </div>
          <div ng-click="$ctrl.rowClicked({alleleId: allele.id})" class="cell consequence id-consequence" ng-class="{'hit': $ctrl.isNonsense[allele.id] && !$ctrl.isTechnical(allele.id)}" title="{{$ctrl.consequence[allele.id]}}">
              {{$ctrl.consequence[allele.id]}}
          </div>
          <div ng-click="$ctrl.rowClicked({alleleId: allele.id})" class="cell indicators id-indicators">
            <div title="{{$ctrl.getWarningsTitle(allele)}}" class="warning">
              <div class="hit" ng-if="$ctrl.hasWarning(allele)">
                  <span>!</span>
              </div>
            </div>
            <div title="Included from filtering" class="low-qual" ng-if="$ctrl.showManuallyAddedIndicator()">
              <div class="hit" ng-if="$ctrl.isManuallyAdded(allele.id)">
                  <span>I</span>
              </div>
            </div>
              <div title="{{$ctrl.getSegregationTitle(allele)}}" class="segregation">
                <div class="hit" ng-if="$ctrl.getSegregationTag(allele)">
                    <span>{{$ctrl.getSegregationTag(allele)}}</span>
                </div>
              </div>
              <div title="Homozygous" class="hom">
                <div class="hit" ng-if="$ctrl.isHomozygous(allele)">
                    <span>O</span>
                </div>
              </div>
              <div title="{{$ctrl.getQualityTitle(allele.id)}}" ng-class="$ctrl.getQualityClass(allele.id)">
                <div class="hit" ng-if="$ctrl.hasQualityInformation(allele)">
                  <span>{{$ctrl.getQualityTag(allele)}}</span>
                </div>
              </div>
              <div class="important-source">
                <div title="Reference(s) available"  class="hit" ng-if="$ctrl.hasReferences(allele)">
                    <span>R</span>
                </div>
              </div>
          </div>

          <div ng-if="$ctrl.showColumn('qual')" class="cell qual"
            popover-trigger="outsideClick"
            uib-popover-template="'alleleSidebarQualityPopover.ngtmpl.html'"
            popover-append-to-body="true"
            popover-title="Quality: {{allele.formatted.display}}"
            popover-class="popover-title-no-uppercase"
            popover-placement="bottom"><span class="clickable">{{$ctrl.qual[allele.id]  || '-'}}</span>
          </div>
          <div ng-if="$ctrl.showColumn('dp')" class="cell dp"
            popover-trigger="outsideClick"
            uib-popover-template="'alleleSidebarQualityPopover.ngtmpl.html'"
            popover-append-to-body="true"
            popover-title="Quality: {{allele.formatted.display}}"
            popover-class="popover-title-no-uppercase"
            popover-placement="bottom"><span class="clickable">{{$ctrl.depth[allele.id]  || '-'}}</span>
          </div>
          <div ng-if="$ctrl.showColumn('ratio')" class="cell ratio"
            popover-trigger="outsideClick"
            uib-popover-template="'alleleSidebarQualityPopover.ngtmpl.html'"
            popover-append-to-body="true"
            popover-title="Quality: {{allele.formatted.display}}"
            popover-class="popover-title-no-uppercase"
            popover-placement="bottom"><span class="clickable">{{$ctrl.alleleRatio[allele.id]  || '-'}}</span>
          </div>
          <div ng-if="$ctrl.showColumn('hi-freq')" class="cell hi-freq"
            popover-trigger="outsideClick"
            uib-popover-template="'alleleSidebarFrequencyPopover.ngtmpl.html'"
            popover-append-to-body="true"
            popover-title="Frequency: {{allele.formatted.display}}"
            popover-class="popover-title-no-uppercase"
            popover-placement="bottom"><span class="clickable">{{$ctrl.formatFreqValue($ctrl.hiFreq[allele.id])}}</span></span>
          </div>
          <div ng-if="$ctrl.showColumn('hi-count')" class="cell hi-count"
            popover-trigger="outsideClick"
            uib-popover-template="'alleleSidebarFrequencyPopover.ngtmpl.html'"
            popover-append-to-body="true"
            popover-title="Frequency: {{allele.formatted.display}}"
            popover-class="popover-title-no-uppercase"
            popover-placement="bottom"><span class="clickable">{{$ctrl.hiCount[allele.id].maxValue || '-'}}</span>
          </div>
          <div ng-if="$ctrl.showColumn('external')" class="cell external"
            popover-trigger="outsideClick"
            uib-popover-template="'alleleSidebarExternalPopover.ngtmpl.html'"
            popover-append-to-body="true"
            popover-title="External: {{allele.formatted.display}}"
            popover-class="popover-title-no-uppercase"
            popover-placement="bottom"><span class="clickable">
            <span ng-repeat="s in $ctrl.externalSummary[allele.id]">{{s}} </span></span>
          </div>

          <div ng-click="$ctrl.reviewedClicked({alleleId: allele.id})" class="cell classification id-classification" ng-class="{reviewed: $ctrl.reviewed[allele.id]}" title="Mark reviewed">
            <div class="class-amcg-container">
              <div class="classification-container">
                <div class="existing-classification">{{$ctrl.getExistingClassificationText(allele.id)}}</div>
                <div class="arrow-classification">{{$ctrl.getArrowClassificationText(allele.id)}}</div>
                <div class="current-classification">{{$ctrl.getCurrentClassificationText(allele.id)}}</div>
              </div>
              <div class="acmg-indicators-container" title="{{$ctrl.getAcmgTitle(allele.id)}}">
                <div class="acmg-indicator" ng-class="[code]" ng-repeat="code in $ctrl.getAcmgClasses(allele.id) track by $index">
                </div>
              </div>
            </div>
          </div>
          <div class="cell quick-classification" ng-if="$ctrl.classificationOptions.length">
            <button ng-if="$ctrl.showClassificationBtn('technical')" class="purple id-quick-technical" ng-click="$ctrl.quickClassificationClicked({alleleId: allele.id, verificationStatus: 'technical', selectAllele: true})" ng-disabled="$ctrl.readOnly" title="Mark as technical">T</button>
            <button ng-if="$ctrl.showClassificationBtn('notrelevant')" class="purple id-quick-notrelevant" ng-click="$ctrl.quickClassificationClicked({alleleId: allele.id, notRelevant: true, selectAllele: true})" ng-disabled="$ctrl.readOnly" title="Mark as not relevant">NR</button>
            <button ng-if="$ctrl.showClassificationBtn('classu')" class="purple id-quick-classu" ng-click="$ctrl.quickClassificationClicked({classification: 'U', alleleId: allele.id, selectAllele: true})" ng-disabled="$ctrl.readOnly" title="Mark as Class U">U</button>
            <button ng-if="$ctrl.showClassificationBtn('class2')" class="purple id-quick-class2" ng-click="$ctrl.quickClassificationClicked({classification: '2', alleleId: allele.id, selectAllele: true})" ng-disabled="$ctrl.readOnly || !$ctrl.canSetClass2(allele.id)" title="Mark as Class 2">2</button><button class="quick-acmg bs" ng-class="{added: $ctrl.isCodeAdded(allele.id, 'BS1')}" ng-if="$ctrl.showClassificationBtn('class2')" ng-click="$ctrl.quickClassificationClicked({code: $ctrl.getCodeForClick(allele.id, 'BS1'), alleleId: allele.id})" ng-disabled="$ctrl.readOnly" title="Add BS1"> BS1 </button><button class="quick-acmg bs" ng-class="{added: $ctrl.isCodeAdded(allele.id, 'BS2')}" ng-if="$ctrl.showClassificationBtn('class2')" ng-click="$ctrl.quickClassificationClicked({code: $ctrl.getCodeForClick(allele.id, 'BS2'), alleleId: allele.id})" ng-disabled="$ctrl.readOnly" title="Add BS2"> BS2 </button>
          </div>
          <div class="cell evaluation" ng-if="$ctrl.showComment()" ng-class="{'narrow': $ctrl.showNarrowComment()}">
            <wysiwyg-editor class="control-comment"
              show-controls="false"
              ng-disabled="$ctrl.readOnly || !$ctrl.canUpdateComment(allele.id)"
              ng-change="$ctrl.commentUpdated(allele.id, $ctrl.getCommentModel(allele.id).comment)"
              ng-model="$ctrl.getCommentModel(allele.id).comment"></wysiwyg-editor>
          </div>
          <div ng-if="$ctrl.isTogglable()" ng-click="$ctrl.toggleClicked({alleleId: allele.id})" class="cell tab"
                title="{{$ctrl.readOnly ? 'Not allowed (read-only)' : ''}}">
            <div class="added">
              <h5 ng-if="$ctrl.isToggled(allele.id)">-</h5>
              <h5 ng-if="!$ctrl.isToggled(allele.id)">+</h5>
            </div>
          </div>
      </div>
    </section>
</div>
