<div class="main">
    <div class="dashboard">
            <sectionbox color="white" class="profile id-user-profile" collapsible="false">
                <maintitle>
                  YOUR PROFILE
                </maintitle>
                <subtitle>
                </subtitle>
                <contentwrapper>
                    <p>Username: <span class="full-title"> {{$ctrl.user.username}}</span></p>
                    <p>Full name: <span class="full-title"> {{$ctrl.user.full_name}}</span></p>
                    <p>Password expiry: <span class="full-title">{{$ctrl.user.password_expiry | date:'yyyy-MM-dd HH:mm'}}</span></p>
                    <p>E-mail: <span class="full-title">{{$ctrl.user.email}}</span></p>
                </contentwrapper>
            </sectionbox>

            <sectionbox color="white" class="profile id-user-profile" collapsible="false">
            <maintitle>
              YOUR USER GROUP
            </maintitle>
            <subtitle></subtitle>
            <contentwrapper>
                <p>Group: <span class="full-title">{{$ctrl.user.group.name}}</span></p>
                  <p>Other users in group:</p>
                  <div class="sectionbox-content general-list">
                      <span ng-repeat="user in $ctrl.usersInGroup" class="list-item">
                          <span class="full-title">{{user.full_name}}</span>
                      </span>
                  </div>
            </contentwrapper>
            </sectionbox>

            <sectionbox color="white" class="profile id-user-profile" collapsible="false">
            <maintitle>
                GENEPANELS AND INFO
            </maintitle>
            <subtitle></subtitle>
            <contentwrapper>
                    <p>Genepanels:</p>
                    <div class="sectionbox-content general-list">
                        <span class="list-item" ng-repeat="genepanel in $ctrl.user.group.genepanels">
                            <span class="full-title">{{genepanel.name}} {{genepanel.version}}</span>
                        </span>
                    </div>
                    <p>Number of analysis worked on: <span class="full-title">{{$ctrl.userStats.analyses_cnt}}</span></p>
                    <p>Number of variants worked on: <span class="full-title">{{$ctrl.userStats.alleles_cnt}}</span></p>
            </contentwrapper>
            </sectionbox>
    </div>

</div>
