<div class="acmg-popover">
  <p>{{vm.getShortCriteria()}}</p>
  <div ng-show="vm.getRequiredFor().length">
    <h3>Required for:</h3>
    <div class="acmg" ng-class="vm.getACMGclass(r)" ng-repeat="r in vm.getRequiredFor()" ng-click="vm.clickAddRequiredForCode(r)"><section class="acmg-upper"><h4 class="acmg-title">{{r}}</h4></section></div>
  </div>
  <h3 ng-if="vm.getCriteria()">Details:</h3>
  <p>{{vm.getCriteria()}}</p>
  <div ng-show="vm.getNotes().length">
    <h3>Notes:</h3>
    <ul class="acmg-notes">
      <li ng-repeat="note in vm.getNotes()">{{note | killLeadingDashes}}</li>
    <ul>
  </div>
  <div ng-show="vm.getInternalNotes().length">
    <h3>Local adjustments:</h3>
    <ul class="acmg-notes">
      <li ng-repeat="note in vm.getInternalNotes()">{{note | killLeadingDashes}}</li>
    <ul>
  </div>
  <h3>Match:</h3>
  <div>
    <p ng-repeat="match in vm.matches">{{match.source}} {{match.op}} {{match.match}}</p>
  </div>
</div>
