<table>
  <tr ng-repeat="t in $ctrl.allele.annotation.filtered track by t.transcript">
    <td ng-if="$ctrl.genepanel && $ctrl.getGenepanelValues(t.symbol).inheritance !== ''">
      <h3 class="full-title">
        <gpv source="$ctrl.getGenepanelValues(t.symbol)" display="inheritance" mode="_"></gpv>
      </h3>
    </td>

    <td ng-if="$ctrl.genepanel">
      <h3 class="full-title">
        <div class="allele_popup" isolate-click>
          <span popover-trigger="outsideClick"
                class="clickable"
                popover-append-to-body="true"
                uib-popover-template="'phenotypes_popover.ngtmpl.html'"
                popover-title="{{t.symbol}}"
                popover-placement="bottom-left">
            {{t.symbol}} ({{t.exon}})
          </span>
        </div>
      </h3>
    </td>
    <td  ng-if="!$ctrl.genepanel">
      <h3 class="full-title">
        <span>
          {{t.symbol}} ({{t.exon}})
        </span>
      </h3>
    </td>

    <td>
      <h3 class="full-title">
        <div class="allele_popup" isolate-click>
          <span class="clickable" item="t"
                           popover-trigger="outsideClick"
                           uib-popover-template="'cdnaPopover.ngtmpl.html'"
                           popover-append-to-body="true"
                           popover-title="HGVS cDNA"
                           popover-class="popover-title-no-uppercase"
                           popover-placement="bottom">
            <i>{{t.transcript}}:</i><b>{{t.HGVSc_short || $ctrl.allele.formatted.hgvsg}}</b> {{$ctrl.allele.formatted.genotype}}
          </span>
          <span ng-if="$ctrl.genotypeDisplay.length">
            <span class="genotype-display" ng-repeat="gt in $ctrl.genotypeDisplay" title="{{gt.title}}">
              <span ng-if="$ctrl.genotypeDisplay.length > 1">{{gt.sample_label}}: </span>{{gt.display}}
              <span title="Homozygous" class="tag red" ng-if="gt.sample_label == 'P' && gt.type == 'Homozygous'">HOM</span>
              <span title="Multiallelic" class="tag" ng-if="gt.multiallelic">MUL</span>
            </span>
          </span>
        </div>
      </h3>
    </td>

    <td>
      <h3 class="full-title">
        <div class="allele_popup" isolate-click>
          <span class="clickable"
                popover-trigger="outsideClick"
                popover-append-to-body="true"
                uib-popover-template="'proteinPopover.ngtmpl.html'"
                popover-title="HGVS protein"
                popover-placement="bottom">
            <i ng-if="t.HGVSp">{{t.protein}}:</i><b>{{t.HGVSp}}</b> ({{$ctrl.formatCodons(t.codons)}})
          </span>
        </div>
      </h3>
    </td>

    <td>
      <h3 class="full-title">
        <div popover-trigger="outsideClick"
             uib-popover-template="'alleleInfoConsequencePopover.ngtmpl.html'"
             popover-append-to-body="true"
             popover-title="Consequences"
             popover-placement="auto top">
              <span class="clickable" ng-repeat="c in t.consequences">{{c | noUnderscores}}</span>
        </div>
      </h3>
    </td>

    <td>
      <h3 class="full-title">{{$ctrl.allele.formatted.genomicPosition}}</h3>
    </td>


  </tr>
</table>
