<div class="secondary" ng-if="$ctrl.workflowType === 'analysis'">
    <div class="workflow-options">
        <div class="bttn-set">
            <label
                tabindex="0"
                class="bttn"
                id="section-{{ c | lowercase }}"
                ng-model="$ctrl.modelSelectedComponent"
                ng-model-watch="$ctrl.selectedComponent"
                ng-change="$ctrl.componentChanged({selectedComponent: c})"
                uib-btn-radio="c"
                ng-repeat="c in $ctrl.componentKeys"
                >{{ c }}</label
            >
        </div>
    </div>
    <section>
        <button ng-click="$ctrl.copyAllAlamutClicked()">Copy all to alamut</button>
        <div class="dropdown white" ng-if="$ctrl.showHistory()">
            <select
                class="id-interpretationrounds-dropdown"
                ng-options="i.id as $ctrl.formatHistoryOption(i) for i in $ctrl.historyInterpretations"
                ng-change="$ctrl.selectedInterpretationChanged({interpretationId: $ctrl.modelSelectedInterpretationId})"
                ng-model="$ctrl.modelSelectedInterpretationId"
                ng-model-watch="$ctrl.selectedInterpretationId"
            >
            </select>
        </div>
        <button
            ng-if="$ctrl.workflowType == 'analysis'"
            class="id-worklog"
            ng-class="{'purple': $ctrl.messageCount > 0}"
            uib-popover-template="$ctrl.interpretationLogPopover.templateUrl"
            popover-class="interpretationlog-popover"
            popover-append-to-body="true"
            popover-title="Work log"
            popover-trigger="outsideClick"
            popover-placement="right"
        >
            Work log ({{ $ctrl.messageCount }})
        </button>
        <workflow-buttons readOnly="$ctrl.readOnly" start-when-reopen="false"></workflow-buttons>
    </section>
</div>
<div
    class="bottom"
    ng-class="{'has-secondary': $ctrl.workflowType == 'analysis'}"
    ng-if="$ctrl.selectedAlleleId"
>
    <allelebar
        allele-path="'views.workflows.interpretation.data.alleles.' + $ctrl.selectedAlleleId"
        genepanel-path="'views.workflows.interpretation.data.genepanel'"
    ></allelebar>
    <section>
        <section class="line-wrapper">
            <section>
                <button class="id-copy-alamut" ng-click="$ctrl.copySelectedAlamutClicked()">
                    Copy variant to alamut
                </button>
                <button
                    class="id-add-references"
                    ng-click="$ctrl.addCustomAnnotationClicked({alleleId: $ctrl.selectedAlleleId, category: 'references'})"
                    ng-disabled="$ctrl.readOnly"
                    ng-if="!$ctrl.readOnly"
                >
                    Add studies
                </button>
                <button
                    class="id-add-acmg"
                    uib-popover-template="$ctrl.acmgPopover.templateUrl"
                    popover-class="add-acmg-popover"
                    popover-append-to-body="true"
                    popover-title="Add ACMG criterion"
                    popover-trigger="outsideClick"
                    popover-placement="left"
                    ng-if="!$ctrl.readOnly"
                    ng-disabled="$ctrl.readOnly"
                >
                    Add ACMG
                </button>
                <upload ng-if="!$ctrl.readOnly" mode="'browse'" buttontext="'Add attachment'">
                </upload>
                <button
                    class="id-collapse-all"
                    ng-click="$ctrl.collapseAllAlleleSectionboxClicked()"
                >
                    Collapse all
                </button>
                <div
                    class="dropdown white"
                    ng-if="$ctrl.workflowType == 'allele' && $ctrl.genepanels && !$ctrl.isOngoing"
                >
                    <select
                        class="id-genepanel-dropdown"
                        ng-options="gp as gp.name + '_' + gp.version for gp in $ctrl.genepanels"
                        ng-model="$ctrl.modelSelectedGenepanel"
                        ng-model-watch="$ctrl.selectedGenepanel"
                        ng-change="$ctrl.selectedGenepanelChanged({genepanel: $ctrl.modelSelectedGenepanel})"
                    >
                    </select>
                </div>
                <button
                    ng-if="$ctrl.workflowType == 'allele'"
                    class="id-worklog"
                    ng-class="{'purple': $ctrl.messageCount > 0}"
                    uib-popover-template="$ctrl.interpretationLogPopover.templateUrl"
                    popover-class="interpretationlog-popover"
                    popover-append-to-body="true"
                    popover-title="Work log"
                    popover-trigger="outsideClick"
                    popover-placement="right"
                >
                    Work log ({{ $ctrl.messageCount }})
                </button>
                <workflow-buttons
                    ng-if="$ctrl.workflowType == 'allele'"
                    start-when-reopen="true"
                    readOnly="$ctrl.readOnly"
                ></workflow-buttons>
            </section>
        </section>
    </section>
</div>

<div
    ng-repeat="t in $ctrl.allele.annotation.filtered track by t.transcript"
    class="nav-bottom-allelebar-spacer"
></div>
