<sectionbox color="purple" collapsible="false">
    <maintitle> Report </maintitle>
    <contentwrapper class="report">
        <top class="comments">
            <wysiwyg-editor
                class="control-comment id-indications-comment"
                templates="$ctrl.getReportIndicationsTemplates()"
                ng-disabled="$ctrl.readOnly"
                placeholder="INDICATIONS COMMENT"
                ng-model="$ctrl.indicationsComment"
                ng-change="$ctrl.indicationsCommentChanged({comment: $ctrl.indicationsComment})"
            ></wysiwyg-editor>
            <wysiwyg-editor
                class="control-comment id-report-comment"
                templates="$ctrl.getReportSummaryTemplates()"
                ng-disabled="$ctrl.readOnly"
                placeholder="REPORT COMMENT"
                ng-model="$ctrl.reportComment"
                ng-change="$ctrl.reportCommentChanged({comment: $ctrl.reportComment})"
            ></wysiwyg-editor>
        </top>
        <h4 class="section-header">Clinical report</h4>

        <h4 ng-if="!$ctrl.reportAlleles.length && $ctrl.readOnly" class="sb-notification dim">
            No variants added.
        </h4>
        <h4 ng-if="!$ctrl.reportAlleles.length && !$ctrl.readOnly" class="sb-notification dim">
            No variants added. You can add variants from the classified variants on sidebar to the
            left.
        </h4>

        <div ng-if="$ctrl.reportAlleles.length" class="included-report">
            <div class="report-entry" ng-repeat="item in $ctrl.reportAlleles">
                <h5>{{ item.hgvsc }}</h5>
                <div class="content" ng-bind-html="item.comment"></div>
            </div>
        </div>
    </contentwrapper>
</sectionbox>
