$blue: hsl(205,45,35);
$blue-95: hsla(hue($blue),saturation($blue),lightness($blue),0.95);
$blue-75: hsla(hue($blue),saturation($blue),lightness($blue),0.75);
$blue-50: hsla(hue($blue),saturation($blue),lightness($blue),0.50);
$blue-25: hsla(hue($blue),saturation($blue),lightness($blue),0.25);
$blue-10: hsla(hue($blue),saturation($blue),lightness($blue),0.10);
$blue-05: hsla(hue($blue),saturation($blue),lightness($blue),0.05);

$green: hsl(175,45,35);
$green-75: hsla(hue($green),saturation($green),lightness($green),0.75);
$green-50: hsla(hue($green),saturation($green),lightness($green),0.50);
$green-25: hsla(hue($green),saturation($green),lightness($green),0.25);
$green-10: hsla(hue($green),saturation($green),lightness($green),0.10);
$green-05: hsla(hue($green),saturation($green),lightness($green),0.05);

$purple: hsl(235,45,35);
$purple-75: hsla(hue($purple),saturation($purple),lightness($purple),0.75);
$purple-50: hsla(hue($purple),saturation($purple),lightness($purple),0.50);
$purple-25: hsla(hue($purple),saturation($purple),lightness($purple),0.25);
$purple-05: hsla(hue($purple),saturation($purple),lightness($purple),0.05);

$pink: hsl(275,45,35);
$pink-75: hsla(hue($pink),saturation($pink),lightness($pink),0.75);
$pink-50: hsla(hue($pink),saturation($pink),lightness($pink),0.50);
$pink-25: hsla(hue($pink),saturation($pink),lightness($pink),0.25);
$pink-05: hsla(hue($pink),saturation($pink),lightness($pink),0.05);

$black: hsl(0,0,0);
$black-95: hsla(hue($black),saturation($black),lightness($black),0.95);
$black-75: hsla(hue($black),saturation($black),lightness($black),0.75);
$black-60: hsla(hue($black),saturation($black),lightness($black),0.60);
$black-50: hsla(hue($black),saturation($black),lightness($black),0.50);
$black-25: hsla(hue($black),saturation($black),lightness($black),0.25);
$black-10: hsla(hue($black),saturation($black),lightness($black),0.10);
$black-05: hsla(hue($black),saturation($black),lightness($black),0.05);

$white: hsl(0,0,100);
$white-95: hsla(hue($white),saturation($white),lightness($white),0.95);
$white-75: hsla(hue($white),saturation($white),lightness($white),0.75);
$white-50: hsla(hue($white),saturation($white),lightness($white),0.50);
$white-25: hsla(hue($white),saturation($white),lightness($white),0.25);
$white-05: hsla(hue($white),saturation($white),lightness($white),0.05);

//$black-95-solid: hsl(0,0,95);


$yellow: hsla(35, 95, 40, 1);
$yellow-50: hsla(35, 95, 40, 0.5);

$red: hsla(10,45,35,1);
$red-95: hsla(10,45,35,0.95);
$red-75: hsla(hue($red), saturation($red), lightness($red), 0.75);
$red-50: hsla(hue($red), saturation($red), lightness($red), 0.50);
$red-25: hsla(hue($red), saturation($red), lightness($red), 0.25);
$red-15: hsla(hue($red), saturation($red), lightness($red), 0.15);
$red-05: hsla(hue($red), saturation($red), lightness($red), 0.05);
$red-tint: hsla(10,45,35,0.05);


$blue-75-on-white: rgb(100, 136, 160);
$blue-50-on-white: rgb(156, 174, 191);
$blue-25-on-white: rgb(203, 215, 223);

$acmg-map: (
  ba: hsl(120,100,25),
  bs: hsl(100,80,40),
  bp: hsl(80,100,40),
  re: hsl(60,100,25),
  pv: hsl(0,100,30),
  ps: hsl(20,80,40),
  pm: hsl(30,100,40),
  pp: hsl(40,80,50),
);

$acmg-opacity: (
  ba: 0.35,
  bs: 0.25,
  bp: 0.15,
  re: 0.5,
  pv: 0.35,
  ps: 0.25,
  pm: 0.15,
  pp: 0.10,
);
