.modal {
  overflow: auto;
  &-content { background-color: white; box-shadow: none; border-radius: 0px; border: 0;
    sectionbox[modal="true"] > section {
      min-height: 20rem;
    }
  }
  // Set width logic to our own preferences
  &-dialog {
    margin: 8.8rem auto 5rem auto;
    max-width: calc(30rem + 50vw);
    max-width: calc(90vw);
    width: inherit;
    overflow-y: auto;
  }
  &-lg { width: inherit; }
  &-backdrop { bottom: 0; position: fixed; top: 0;
    z-index: 1040;
    opacity: 0.6;
    &.in {
      opacity: 0.6;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

// - Primarily used in modals for user prompts and information
// - 'middle' is optional
.line-wrapper { display: flex; align-items: center;
  &.centered { justify-content: center; }
  &.spaced { justify-content: space-between; }
  &.pinned-right { justify-content: flex-end; }
  &.bottom { align-items: flex-end; }
  &.list-item { margin-bottom: 1.3rem; }
  &.only-control { height: 100%; }
  .left { flex: 4; text-align: right; }
  .left-basic { text-align: right; }
  .left-small { flex: 1; text-align: right; }
  .middle { flex: 0.5; text-align: center; }
  .middle-small { flex: 0.1; text-align: center; }
  .right { flex: 4; }
  .left ~ .right { margin-left: 1.3rem; }
  .left-basic ~ .right-basic { margin-left: 1.3rem; }
  .left-short {text-align: right; flex: 2;padding-right: 1.6rem;}
}
.question { min-height: 8rem;
  .multiple-question-element ~ .multiple-question-element { margin-left: 1.3rem; }
  .dropdown { background-color: $blue-05; border: 1px solid $blue-25; display: inline-block; }
  h2 { font-size: 2rem; text-transform: uppercase; font-weight: 400; letter-spacing: 0.05rem; }
  h5 { font-size: 1.4rem; font-weight: 500; text-transform: uppercase; margin: 0; white-space: normal; padding: 0;}
  p { font-size: 1.4rem; font-weight: 400; margin: 0; }
  textarea { width: 100%; font-size: 1.2rem; font-family: $slim; }
}
.bttn-set { @extend .line-wrapper; flex-wrap: wrap; }
.bttn { background-color: $blue-05; border: 1px solid $blue-05;
  & ~ & { border-left: 1px solid $blue-25; margin-left: 0; }
  &[disabled], &.disabled { opacity: 0.25; border: 1px solid $blue-50; }
  &[disabled] ~ &[disabled], &.disabled ~ &.disabled { border-left: none; }
  &:hover:not([disabled]) { background-color: $blue-25; cursor: pointer; }
  &.active:hover { background-color: $blue-75; box-shadow: 0 0.3rem 0 $black-05; cursor: default; color: white; }
  &.active { background-color: $blue-75; color: white; }
  &.active + & { border-left: 1px solid Transparent; }
}
.question.tiny { min-height: 3rem; }
.question.small { min-height: 4rem; }
.question.medium {min-height: 6rem;}
.question.centered { text-align: center; }
.question.parent {margin-bottom: -1rem;}

// Used only in Add references (customAnnotationModal)
.big textarea { max-height: 25vh; margin: 1.3rem 0 2.6rem; }

.popover { font-family: "Source Sans Pro", sans-serif; max-width: 70vw; overflow-x: auto; padding: 0; border: none; box-shadow: 0 0.3rem 0.3rem $black-25; z-index: 1600; }
.popover, .popover * { border-radius: 0; }
.popover .popover-title { @extend .slim; @extend .title; @extend .upper; background-color: $blue-75; color: $white;
                          font-weight: 600; font-size: 1.4rem !important; border: none;
                          padding-bottom: 0.3rem; padding-top: 0.3rem; width: 100%; }
.popover-title-no-uppercase {text-transform: none !important;}
.popover-content {
  padding-top: 0.3rem;
  h3, p {
    @extend .slim;
  }
}
.popover-content > pre { white-space: pre-wrap;}
.popover-content .gpv_override { color: $red; }
.popover-list { list-style-type: none; max-width: 50vw; }
.popover-list.indented { margin-left: 1.3rem; }
.acmg-notes { margin-left: 2.6rem; }
.popover h3.p-title { font-weight: 700; font-size: 1.4rem; color: $black-75;  margin: 0.7rem 0; }

.popover * .small {font-weight: 300;}

.acmg-popover {
  h3 { font-weight: 700; font-size: 1.4rem; color: $black-75;  margin: 0.7rem 0; }
  p { font-weight: 400; margin: 0; word-wrap: break-word; word-break: break-word; font-size: 1.4rem; }
}
.acmg-selection aside { margin-top: 3.9rem; }
.acmg-selection aside ~ aside { margin-top: 5.2rem; }

@keyframes slide-from-left { from { left: -34rem; } to { left: 0rem; } }
@keyframes slide-to-left { from { left: 0rem; } to { left: -34rem; } }

.add-acmg-popover { margin: 0; top: $nav-bar-top-height !important; bottom: 0 !important; left: 0 !important; position: fixed; overflow: scroll; width: 36rem; will-change: left; }
.add-acmg-popover.in-add { animation: slide-from-left; animation-delay: 0s; animation-duration: 0.6s; animation-fill-mode: forwards; }
.add-acmg-popover.in-remove { animation: slide-to-left; animation-delay: 0s; animation-duration: 0.3s; animation-fill-mode: forwards; }
.add-acmg-popover.fade, .acmg-popover.fade-add, .acmg-popover.in-remove { opacity: 1; display: block; visibility: visible; }
.add-acmg-popover .popover-title { background-color: transparent; color: inherit; }
.add-acmg-popover .arrow { display: none; }

.interpretationlog-popover {
  h3 { font-weight: 700; font-size: 1.4rem; color: $black-75;  margin: 0.7rem 0; }
  p { font-weight: 400; margin: 0; word-wrap: break-word; word-break: break-word; font-size: 1.4rem; }
}

$interpretationlog-width: 70rem;
@keyframes slide-from-right { from { right: -$interpretationlog-width; } to { right: 0rem; } }
@keyframes slide-to-right { from { right: 0rem; } to { right: -$interpretationlog-width; } }
.interpretationlog-popover { margin: 0; top: $nav-bar-top-height !important; bottom: 0 !important; left: initial !important; right: 0 !important; position: fixed; width: $interpretationlog-width; will-change: right;
  .arrow {display: none; }
}
.interpretationlog-popover.in-add { animation: slide-from-right; animation-delay: 0s; animation-duration: 0.6s; animation-fill-mode: forwards; }
.interpretationlog-popover.in-remove { animation: slide-to-right; animation-delay: 0s; animation-duration: 0.3s; animation-fill-mode: forwards; }
.interpretationlog-popover.fade, .interpretationlog-popover.fade-add, .interpretationlog-popover.in-remove { opacity: 1; display: block; visibility: visible; }
.interpretationlog-popover .popover-title { background-color: transparent; color: inherit; }
.interpretationlog-popover .arrow { display: none; }


.reference, .reference .control { display: flex; align-items: center; justify-content: space-between; }
.reference .control { padding-left: 0.7rem; }

.pagination { @extend .bttn-set; list-style: none;
  li { @extend .bttn; padding: 0; }
  li.disabled:hover { cursor: default; background-color: inherit; box-shadow: 0 0.3rem 0 $black-05; }
  li.disabled a:hover { cursor: default; }
  li a { border-bottom: none; padding: 0.25rem 0.75rem; padding-top: 0.4rem; display: block; }
  li a:hover {  }
}
.pagination * { border-radius: 0 !important; }

.allele-control-bar { margin-bottom: 1.3rem; }

.reference-eval-popover {
  max-width: 30vw;
}

.custom-annotation-modal {
  .db-url { font-size: 1.4rem; font-weight: 300; font-family: $full; margin-left: 1rem; }
}

.selection-warning {
  height: 1.2rem;
  font-size: 1.0rem;
  color: $red-95;
  font-weight: 700;
}

importsingle > contentwrapper {
  margin-top: 1.6rem;
}

@keyframes fade-in-import-edit {
  0% {
    transform: scale(0.0);
    transform-origin: top left;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    transform-origin: top left;
  }
}

.import-edit {
  background-color: $blue-10;
  padding: 1rem;
  margin-top: 1rem;
  &.ng-enter {
    animation: fade-in-import-edit 0.15s;
    animation-timing-function: ease-in;
  }
}

.import-summary {
  width: 50%;
  > section > div > div {
      display: flex;
      > span {
        font-size: 1.4rem;
        &.title {
          min-width: 15rem;
          text-transform: uppercase !important;
          font-weight: 600;
        }
      }
    }
  padding-right: 2rem;
}

.import-selection {
  border-top: 1px dashed $black-10;
  margin-top: 1rem;
  padding-top: 1rem;
  min-height: 8rem;
}

.import-warning {
  background-color: $red; margin: 0.5rem; padding: 1rem; color: $white;
  p { color: $white; }

}

.import-variants {
  * input[type=checkbox] {
    height: inherit;
  }

}

.annotationjobinfo > span {
  overflow-wrap: break-word;
}

.annotationjobinfo > pre {
  white-space: pre-wrap;
}

.import-all-summary * {
  text-align: center;
  margin-top: 0.3rem;
}

.json-pretty {
  display: inline-block;
  text-align: left !important;
  font-size: 0.8rem;
}

