<div class="interpretation-container">
    <article class="single-sample-analysis-container" ng-switch="$ctrl.selectedComponent">
        <allele-sidebar ng-if="$ctrl.showSidebar"></allele-sidebar>

        <section class="container" ng-class="{'inner': $ctrl.showSidebar}">
            <div ng-switch-when="Info">
                <analysis-info></analysis-info>
            </div>
            <div ng-switch-when="Classification">
                <div ng-if="$ctrl.selectedClassificationType === 'full'">
                    <div class="no-alleles" ng-if="!$ctrl.hasAlleles">
                        <h2>No variants to show for analysis.</h2>
                        <h4>
                            Either there are no variants in this analysis or they all matched a
                            filter criteria.
                        </h4>
                    </div>
                    <allele-warning ng-if="$ctrl.hasAlleles"></allele-warning>
                    <allele-sectionbox
                        section-key="sectionKey"
                        ng-if="$ctrl.hasAlleles"
                        ng-repeat="sectionKey in $ctrl.sectionKeys"
                    >
                    </allele-sectionbox>
                </div>
                <visualization
                    ng-if="$ctrl.selectedClassificationType === 'visual'"
                    ng-if="$ctrl.hasAlleles"
                >
                </visualization>
            </div>

            <report-card ng-switch-when="Report"> </report-card>
        </section>
    </article>
</div>
