<div class="main">


    <collision-warning></collision-warning>

    <div class="interpretation">
        <interpretation
        ng-if="$ctrl.loaded"
        ></interpretation>
        <workflow-loading ng-if="!$ctrl.loaded"></workflow-loading>
    </div>

</div>

