<contentbox title="Clinvar" title-url="{{$ctrl.allele.urls.clinvar}}" disabled="!$ctrl.clinvarAnnotation.items.length">
  <cbbody>
    <div class="cb-table" ng-if="$ctrl.clinvarAnnotation.items.length">
      <div class="tabular-row">
        <div class="cell">
          <h5 class="wrap"> Review status: &nbsp; &nbsp;
          <span ng-repeat="i in $ctrl.clinvarAnnotation.maxstars.slice(0,$ctrl.clinvarAnnotation.revstars) track by $index">
            <svg id="i-star" class="star filled" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
              <path d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
            </svg>
          </span>
          <span ng-repeat="i in $ctrl.clinvarAnnotation.maxstars.slice(0,(4 - $ctrl.clinvarAnnotation.revstars)) track by $index">
            <svg id="i-star" class="star" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
              <path d="M16 2 L20 12 30 12 22 19 25 30 16 23 7 30 10 19 2 12 12 12 Z" />
            </svg>
          </span>
          &nbsp;&nbsp;({{$ctrl.clinvarAnnotation.revtext}})</h5>
        </div>
      </div>
      <div class="cell"><h5 class="wrap">
            Submissions:
      </h5></div>
      <div class="tabular-row" ng-repeat="c in $ctrl.clinvarAnnotation.items">
        <div class="cell"><h5 class="wrap">
          <p>{{c.last_evaluated}} - {{c.sigtext}} - {{c.phenotypetext}} - {{c.submitter}}</p>
        </h5></div>
      </div>
    </div>
  </cbbody>
</contentbox>

