<contentbox title="Quality">
  <cbbody>
    <div class="allele-info-quality">
      <div class="sample-display"ng-repeat="sample in $ctrl.displaySamples" ng-if="sample">
            <h5 class="sample-title" title="{{sample.title}}">{{sample.display}}</h5>
            <div class="cb-warning" ng-if="sample.needs_verification">
              NEEDS VERIFICATION
            </div>
            <div class="cb-table">
              <div class="tabular-row" ng-if="sample.p_denovo">
                <div class="cell"><h5 title="De novo posterior probility">P(de novo):</h5></div>
                <div class="cell"><p>{{sample.p_denovo | number:2}}</p></div>
              </div>
              <div class="tabular-row">
                <div class="cell"><h5>Filter:</h5></div>
                <div class="cell"><p>{{sample.filter_status}}</p></div>
              </div>
              <div class="tabular-row">
                <div class="cell"><h5>Quality:</h5></div>
                <div class="cell"><p>{{sample.variant_quality}}</p></div>
              </div>
              <div class="tabular-row">
                <div class="cell"><h5>GQ:</h5></div>
                <div class="cell"><p>{{sample.genotype_quality}}</p></div>
              </div>
              <div class="tabular-row">
                <div class="cell"><h5>Depth:</h5></div>
                <div class="cell"><p>{{sample.sequencing_depth}}</p></div>
              </div>
              <div class="tabular-row">
                <div class="cell"><p>Ratio:</p></div>
                <div class="cell"><p>{{sample.allele_ratio | number:2}}</p></div>
              </div>
              <div class="tabular-row" ng-repeat="(k, v) in sample.allele_depth">
                <div class="cell"><p> - {{$ctrl.formatSequence(k)}}:</p></div>
                <div class="cell"><p>{{v}}</p></div>
              </div>
            </div>
          </div>
    </div>

  </cbbody>
</contentbox>
