<contentbox title="Other" disabled="!$ctrl.hasContent()">
  <cbbody>
    <div class="cb-table">
      <div class="tabular-row" ng-repeat="group in $ctrl.config.custom_annotation.prediction" ng-if="$ctrl.allele.annotation.prediction[group.key]">
        <div class="cell"><h5>{{group.name}}:</h5></div>
        <div class="cell"><p>{{$ctrl.allele.annotation.prediction[group.key]}}</p></div>
      </div>
    </div>
  </cbbody>
</contentbox>
