<contentbox title="ExAC" title-url="{{$ctrl.allele.urls.exac}}" disabled="!$ctrl.allele.annotation.frequencies.ExAC">
  <cbbody>
    <frequency-details group="'ExAC'" allele-path="$ctrl.allelePath"></frequency-details>
  </cbbody>
</contentbox>
