<sectionbox color="green" modal="true" on-close="(vm.modal.close)">
    <maintitle>
        <h3 class="title">Annotate and import data</h3>
    </maintitle>
    <contentwrapper>
        <contentbox title="SUBMITTED" collapsible="false" class="max-width">
            <cbbody>
                <controls>
                    <uib-pagination
                        style="justify-content: flex-end; margin: 0;"
                        class="annotationjobpagination"
                        total-items="vm.annotationjobs.pagination.totalCount"
                        ng-model="vm.annotationjobPage"
                        class="pagination-sm"
                        items-per-page="vm.annotationjobs.pagination.perPage"
                        max-size="5"
                        rotate="false"
                    >
                    </uib-pagination>
                </controls>
                <article
                    class="acmg-body max-width"
                    ng-repeat="job in vm.annotationjobs.data"
                    ng-switch="job.description"
                >
                    <section class="line-wrapper spaced">
                        <section class="line-wrapper spaced">
                            <div
                                class="clickable"
                                popover-title="Annotation job information"
                                uib-popover-template="'annotationjobPopover.ngtmpl.html'"
                                popover-placement="auto top"
                                popover-append-to-body="true"
                                popover-trigger="outsideClick"
                            >
                                <h5 ng-bind-html="vm.getJobDisplay(job)"></h5>
                                <p>
                                    Submitted by {{ job.user.abbrev_name }} on
                                    {{ job.date_submitted | date: "yyyy-MM-dd 'at' HH:mm" }}
                                </p>
                            </div>
                        </section>
                        <article class="line-wrapper">
                            <div
                                class="left clickable nowrap"
                                popover-title="Annotation job information"
                                uib-popover-template="'annotationjobPopover.ngtmpl.html'"
                                popover-placement="bottom-left"
                                popover-append-to-body="true"
                                class="faded-title"
                            >
                                <p>STATUS: {{ job.status }}</p>
                            </div>
                            <div class="middle"></div>
                            <div class="right nowrap">
                                <button
                                    class="grey"
                                    ng-click="vm.restartJob(job.id)"
                                    ng-disabled="!job.status.includes('FAILED')"
                                >
                                    <svg
                                        class="buttonmark"
                                        id="i-reload"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 32 32"
                                        width="32"
                                        height="32"
                                        fill="none"
                                        stroke="currentcolor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="6.25%"
                                    >
                                        <path
                                            d="M29 16 C29 22 24 29 16 29 8 29 3 22 3 16 3 10 8 3 16 3 21 3 25 6 27 9 M20 10 L27 9 28 2"
                                        />
                                    </svg>
                                </button>
                                <!--<button class="blue id-cancel-annotationjob" ng-click="vm.deleteJob(job.id)">Delete</button>-->
                            </div>
                        </article>
                    </section>
                </article>
            </cbbody>
        </contentbox>

        <div ng-if="!vm.jobData">
            <section>
                <section>
                    <div class="question line-wrapper">
                        <div class="left">
                            <h5 class="slim title">
                                <b>Raw data</b>
                            </h5>
                            <p>Provide raw data in any of the following formats:</p>
                            <p>
                                <span
                                    class="clickable"
                                    popover-title="HGVSc example"
                                    uib-popover-html="'<p>NM_000059.3:c.9732_9733insA</p>
                                          <p>NM_000059.3:c.9732_9733insA (het)</p>
                                          <p>NM_000059.3(BRCA2):c.9732_9733insA (homo)</p>
                                        '"
                                    popover-placement="auto bottom"
                                    popover-append-to-body="true"
                                    popover-trigger="outsideClick"
                                    >Full HGVSc coordinates</span
                                >
                            </p>
                            <p>
                                <span
                                    class="clickable"
                                    popover-title="Genomic position example"
                                    uib-popover-html="'<p>13-32893435-G-T</p>
                                          <p>13-32893435-G-T (het)'"
                                    popover-placement="auto bottom"
                                    popover-append-to-body="true"
                                    popover-trigger="outsideClick"
                                    >Genomic position</span
                                >
                            </p>
                            <p>
                                <span
                                    class="clickable"
                                    popover-title="VCF file example"
                                    uib-popover-html='"<p>##fileformat=VCFv4.1</p>
                                          <p>#CHROM	POS	ID	REF	ALT	QUAL	FILTER	INFO	FORMAT	H01</p>
                                          <p>13	32890572	HBLANK	G	A	.	.	class=1	GT	0/1</p>
                                          <p>13	32890587	H17	C	T	.	.	class=3	GT	0/1</p>"'
                                    popover-placement="auto bottom"
                                    popover-append-to-body="true"
                                    popover-trigger="outsideClick"
                                    >VCF file</span
                                >
                            </p>

                            <p>
                                <span
                                    class="clickable"
                                    popover-title="SeqPilot export example"
                                    uib-popover-html='"<pre>Index&#9;Gene&#9;Transcript&#9;Location&#9;Pos.&#9;Type&#9;Nuc Change&#9;AA Change&#9;State&#9;Hint&#9;web Ref.&#9;c. HGVS&#9;p. HGVS&#9;mut Entry&#9;mut Effect</pre>
                                          <pre>6&#9;MSH2&#9;NM_000251.2&#9;E5&#9;5 (797) / 4bp   [chr2:g.47641411_47641412 (hg19)]&#9;I&#9;AAGA (het)&#9;[STOP] AA 284 (E5/58)&#9;S&#9;RF changed&#9;&#9;c.796_797insAAGA&#9;p.Ala266Glufs*19&#9;0/1 of 1963</pre>
                                          <pre>4&#9;BRCA2&#9;NM_000059.3&#9;E18&#9;188 (8164) / 4bp   [chr13:g.32937502_32937503 (hg19)]&#9;I&#9;GCTC (het)&#9;[STOP] AA 2730 (E18/212)&#9;S&#9;RF changed&#9;&#9;c.8163_8164insGCTC&#9;p.Thr2722Alafs*9&#9;0/1 of 6244</pre>
                                          <pre>6&#9;BRCA2&#9;NM_000059.3&#9;E27&#9;85 (9733) / 1bp   [chr13:g.32972382_32972383 (hg19)]&#9;I&#9;A (homo)&#9;[STOP] AA 3254 (E27/112)&#9;S&#9;RF changed&#9;&#9;c.9732_9733insA&#9;p.Ser3245Ilefs*10&#9;0/1 of 6200</pre>"'
                                    popover-placement="auto bottom"
                                    popover-append-to-body="true"
                                    popover-trigger="outsideClick"
                                    >SeqPilot export file</span
                                >
                            </p>
                            <p><br /></p>
                            <p>
                                Raw data can be separated into several imports (called a 'batch') by
                                inserting separator characters (-). Mixing formats in a single
                                import is not allowed.
                            </p>
                            <p>
                                <span
                                    class="clickable"
                                    popover-title="Example"
                                    uib-popover-html='"<p>13-32890572-G-A (het)</p>
                                          <p>------</p>
                                          <p>13-32890587-C-T (homo)<p>"'
                                    popover-placement="auto bottom"
                                    popover-append-to-body="true"
                                    popover-trigger="outsideClick"
                                    >Batch example</span
                                >
                            </p>
                        </div>
                        <div class="middle"></div>
                        <div class="right">
                            <autosize-textarea
                                class="big"
                                ng-model="vm.rawInput"
                                placeholder="RAW DATA"
                            ></autosize-textarea>
                        </div>
                    </div>

                    <div class="question small line-wrapper">
                        <div class="left"></div>
                        <div class="middle">
                            <button
                                class="green"
                                ng-click="vm.parseInput()"
                                ng-disabled="vm.rawInput === ''"
                            >
                                <svg
                                    id="i-plus"
                                    class="buttonmark"
                                    viewBox="0 0 32 32"
                                    width="32"
                                    height="32"
                                    fill="none"
                                    stroke="currentcolor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="6.25%"
                                >
                                    <path d="M16 2 L16 30 M2 16 L30 16" />
                                </svg>
                                Parse data
                            </button>
                        </div>
                        <div class="right"></div>
                    </div>
                </section>
            </section>
        </div>

        <div ng-repeat="(id, parsedInput) in vm.jobData track by id">
            <importsingle import-data="vm.jobData[id]" index="$index+1"> </importsingle>
        </div>

        <section ng-if="vm.jobData">
            <div class="import-all-summary">
                <h3>Summary:</h3>
                <p ng-repeat="d in vm.getImportDescription()">{{ d }}</p>
                <div>
                    <button class="green" ng-click="vm.import()" ng-disabled="vm.importDisabled()">
                        <svg
                            id="i-plus"
                            class="buttonmark"
                            viewBox="0 0 32 32"
                            width="32"
                            height="32"
                            fill="none"
                            stroke="currentcolor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="6.25%"
                        >
                            <path d="M16 2 L16 30 M2 16 L30 16" />
                        </svg>
                        Import
                    </button>
                </div>
            </div>
        </section>
    </contentwrapper>
</sectionbox>
